
/* MEDIA QUERY */
@media screen and (max-width: 904px) {
    .img-title-left h1 {
        font-size: 3.5rem;
    }

    .btns-right p {
        font-size: 1.2rem;
    }

    .btns-right a {
        font-size: 1.4rem;
    }

    .btns-right h2 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 768px) {
    .main-page {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .btns-right [btn] {
        /* width: 30rem; */
    }
}


@media screen and (max-width: 712px) {
    .btns-right {
        box-shadow: -.2rem .2rem;
    }

    .btns-right p {
        font-size: 1rem;
        text-align: center;
    }

    .btns-right a {
        font-size: 1rem;
    }

    .btns-right h2 {
        font-size: 2rem;
        
    }

    .btns-right [btn] {
        /* width: 15rem; */
        font-size: 1.2rem;
    }

    [btn="cadastre"] {
        margin-top: 2rem;
    }

    .img-title-left h1 {
        font-size: 3.5rem;
        margin-right: 1rem;
        text-align: center;
    }

    .img-title-left [svg="light"] {
        width: 100px;
    }
    .img-title-left [svg="form"] {
        width: 180px;
    }
}

@media screen and (max-width: 565px) {
    .main-page {
        display: grid;
        grid-template-areas:
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". img-title-left img-title-left btns-right btns-right btns-right ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
        ;
    }

    .btns-right [btn] {
        font-size: 1.2rem;
        width: 90%;
    }

    .btns-right h2 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .btns-right p {
        font-size: 1rem;
        text-align: center;
    }

    .btns-right a {
        text-align: center;
    }

    .img-title-left h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .img-title-left [svg="light"] {
        width: 70px;
    }
    .img-title-left [svg="form"] {
        width: 150px;
    }

}

@media screen and (max-width: 477px) {
    .main-page {
        display: grid;
        grid-template-areas:
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". img-title-left btns-right btns-right btns-right btns-right."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
            ". . . . . . ."
        ;
    }
    .btns-right h2 {
        font-size: 2rem;
        margin: 1rem;
    }

    .img-title-left [svg="light"] {
        width: 50px;
        margin-top: 3rem;
    }
    .img-title-left [svg="form"] {
        width: 120px;
    }

    .img-title-left h1 {
        font-size: 2.5rem;
    }
}