* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    --defaut-border: 0.1rem solid black;
}

body {
    font-size: 1.6rem;
    display: grid;
}

.main-page {
    height: 100vh;
    position: relative;
}

.img-title-left {
    /* border: 1px solid black; */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.img-title-left h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Exo 2', 'Fire Mono Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3rem;
}

.img-title-left h1 span {
    color: #5C6BC0;
}

.img-title-left [svg="light"] {
    margin-top: 2rem;
    margin-bottom: 1rem;

    width: 150px;

}

.img-title-left [svg="form"] {
    width: 300px;
}

.btns-right {
    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: -.5rem .5rem #330D00;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btns-right header {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;

    column-gap: 2rem;

    width: 90%;
}

.btns-right header .back {
    text-decoration: none;
    font-size: 4rem;
    font-weight: bolder;
    color: #ebd684;
}

.btns-right h2 {
    display: inline-block;
    font-size: 3.2rem;
}

.btns-right h2 span {
    color: #5C6BC0;

}

.btns-right .forms {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 90%;
}

.btns-right label {
    font-size: 1.4rem;

    display: block;
    margin-top: 2rem;
}

.btns-right .forms :is(input, select) {
    width: 90%;
    height: 4rem;

    border: var(--defaut-border);
    border-radius: .6rem;

    padding: .5rem;
}

.btns-right .forms :is(input, select):focus {
    background: #f4f0e8;
}

.btns-right .forms select {
    appearance: none;
}

.btns-right .forms .select-div select option {
    gap: 5rem 5rem;
    color: aqua;
}

.btns-right form .select-div::after {
    content: '\21B4';
    color: #5C6BC0;
    font-size: 2rem;
    font-weight: bolder;

    position: relative;
    bottom: rem;
    right: 2.2rem;

    /*  z-index: 1; */
}

.pontos_input_plus {
    /* border: 1px solid green; */

    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.btns-right .forms .pontos button {

    /* padding: .3rem; */
    border: none;
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btns-right [btn] {
    border: none;
    box-shadow: -.2rem .2rem #330D00;

    width: 90%;
    height: 4rem;
    border-radius: .6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.7rem;
    font-family: 'Ubuntu Mono', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;

    text-decoration: none;
    text-align: center;

    margin-top: 5rem;
}

.btns-right [btn="cadastre"]:hover {
    background: #8ee88c;
}

.btns-right [btn="cadastre"]:active {
    position: relative;
    bottom: 2px;
}

.btns-right [btn="cadastre"] {
    background: #9FA8DA;
}

.main-page {
    display: grid;
    grid-template-areas:
        ". . . . . . ."
        ". img-title-left img-title-left btns-right btns-right btns-right ."
        ". . . . . . ."
    ;
}

.img-title-left {
    grid-area: img-title-left;
}

.btns-right {
    grid-area: btns-right;
}

/* ANIMATION */

[svg="light"] {
    animation: light-animation 1s infinite alternate ease-in-out;
}

@keyframes light-animation {

    0% {
        transform: rotate(-10deg)
    }

    100% {
        transform: rotate(10deg);
    }
}

[svg="form"] {
    animation: form-animation 1s infinite alternate ease-in-out;
}

@keyframes form-animation {

    0% {
        transform: rotate(-2deg)
    }

    100% {
        transform: rotate(2deg);
    }
}